body{
	font-family: Cambria, Georgia, serif;
}
.navbar{
	min-height:60px;
	/*margin-bottom: 20px;*/
}
.navbar-brand{
	height:60px;
	line-height:30px;
}
.navbar-inverse{
	background:#8c1515;
	border-color:#8c1515;
	/*#B55A6B*/
	/*#598AB2*/
}
.navbar-inverse .navbar-brand {
    color: #fff;
	font-size:32px;
	font-family: Cambria, Georgia, serif;
}
.navbar-right>li{
	margin-top: 2px;
}
.form-group{
	width:250px;
}
.navbar-form .form-control{
	width:250px;
	height:40px;
	border-color:#8c1515;
	background:rgba(255,255,255,1);
	color:#333;
	border-radius: 20px;
}
input::-webkit-input-placeholder {
	color: #aaa !important;
	font-size:16px;
}
 
input:-moz-placeholder { /* Firefox 18- */
	color: #aaa !important;  
	font-size:16px;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	color: #aaa !important;  
	font-size:16px;
}
 
input:-ms-input-placeholder {  
	color: #aaa !important;  
	font-size:16px;
}
footer{
	margin-top:20px;
}


.upper-left{
	margin-top:5px;
	height:500px;
	border:0px solid #ccc;
}
.upper-right{
	margin-top:5px;
	height:1210px;
	background: rgb(240,240,240);
}
.left{
	padding-right:5px;
	height: 500px;
}
.right{
	padding-left:5px;
	height: 1200px;
}
#parallel{
	height: 200px;
	background: rgb(240,240,240);
}
#cluster{
	height: 390px;
	background: rgb(240,240,240);
	margin: 10px 0 0 0;

}
#cluster2{
	height: 600px;
	background: rgb(240,240,240);
	margin: 10px 0 0 0;

}
#searchinfo{
	margin-top: 15px;
	text-align: right;
	height: 20px;
	/*background: rgb(240,0,240);*/
}

.video{
	margin-bottom: 10px;
	height: 110px;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}
.poster{
	height: 100px;
	padding-left: 0px;
}
.poster>img{
	height: 90px;
	width: 125px;
	margin-top: 5px;
	margin-left: 12px;
	/*border-radius: 5px;*/
	/*float: left;*/
}
.videoinfo{
	/*background: yellow;*/
	height: 100px;
	padding-left: 10px;
	padding-right: 0;
}
.title{
	height: 20px;
	overflow: hidden;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 700;
}
.abstract{
	height: 60px;
	overflow: hidden;
	margin-bottom: 2px;
	font-size: 14px;
	color: #999;
}
.time{
	height: 20px;
	margin: 0;
	overflow: hidden;
	font-size: 12px;
	/*text-align: right;*/
}




/*parallel*/
svg {
  font: 10px;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  /*stroke: steelblue;*/
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/*loading....*/
#fountainG{
	position:relative;
	width:20%;
	height:9px;
	margin:auto;
	display: none;
}

.fountainG{
	position:absolute;
	top:6px;
	background-color:rgb(255,255,255);
	width:9px;
	height:9px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.69s;
		-o-animation-duration:1.69s;
		-ms-animation-duration:1.69s;
		-webkit-animation-duration:1.69s;
		-moz-animation-duration:1.69s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:6px;
		-o-border-radius:6px;
		-ms-border-radius:6px;
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
}

#fountainG_1{
	left:0;
	animation-delay:0.68s;
		-o-animation-delay:0.68s;
		-ms-animation-delay:0.68s;
		-webkit-animation-delay:0.68s;
		-moz-animation-delay:0.68s;
}

#fountainG_2{
	left:20%;
	animation-delay:0.85s;
		-o-animation-delay:0.85s;
		-ms-animation-delay:0.85s;
		-webkit-animation-delay:0.85s;
		-moz-animation-delay:0.85s;
}

#fountainG_3{
	left:40%;
	animation-delay:1.01s;
		-o-animation-delay:1.01s;
		-ms-animation-delay:1.01s;
		-webkit-animation-delay:1.01s;
		-moz-animation-delay:1.01s;
}

#fountainG_4{
	left:60%;
	animation-delay:1.18s;
		-o-animation-delay:1.18s;
		-ms-animation-delay:1.18s;
		-webkit-animation-delay:1.18s;
		-moz-animation-delay:1.18s;
}

#fountainG_5{
	left:80%;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_6{
	left:100%;
	animation-delay:1.52s;
		-o-animation-delay:1.52s;
		-ms-animation-delay:1.52s;
		-webkit-animation-delay:1.52s;
		-moz-animation-delay:1.52s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(200,200,200);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(200,200,200);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(200,200,200);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(200,200,200);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(200,200,200);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}


